version: "3.6"
volumes:
  keycloak_postgres_data:
      driver: local
services:
# 
  db:
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_PORT=15432
    ports:
      - 15432:5432
# 
  game-master:
    image: jakmeier/paddlers:game-master-snapshot
    depends_on:
      - db
    ports:
      - 8088:8088
    environment:
      - RUST_BACKTRACE=1
      - DATABASE_URL=postgresql://postgres:password@db:5432
      - RESET_DB=1
      - DATABASE_INIT=1
      - INSERT_TEST_DATA=1
      - RUST_LOG=actix_web=debug
#
  db-interface:
    image: jakmeier/paddlers:db-interface-snapshot
    depends_on:
      - db
      - game-master
    ports:
      - 65432:65432
    environment:
      - RUST_BACKTRACE=1
      - ROCKET_ADDRESS=0.0.0.0
      - ROCKET_PORT=65432
      - ROCKET_DATABASES={game_db={url="postgresql://postgres:password@db:5432"}}
#
  frontend:
    image: jakmeier/paddlers:frontend-snapshot
    ports:
      - 80:80
# 
  keycloak-db:
      image: postgres:latest
      volumes:
        - keycloak_postgres_data:/var/lib/postgresql/data
      environment:
        POSTGRES_DB: keycloak
        POSTGRES_USER: keycloak
        POSTGRES_PASSWORD: password
#
  keycloak:
    image: jakmeier/paddlers:keycloak-snapshot
    environment:
      DB_VENDOR: POSTGRES
      DB_ADDR: keycloak-db
      DB_DATABASE: keycloak
      DB_USER: keycloak
      DB_SCHEMA: public
      DB_PASSWORD: password
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: Pa55w0rd
    ports:
      - 10002:8080
    depends_on:
      - keycloak-db