#![enable(implicit_some)]
[
    /* LINEAR STARTER QUESTS */
    (
        quest_key: "hello-world",
        karma_condition: 1,
        condition: (),
        reward: (
            resources: {
                FEATHERS: 30,
            },
        )
    ),
    (
        quest_key: "create-forest",
        condition: (
            buildings: {
                TREE: 3,
            }
        ),
        reward: (
            resources: {
                FEATHERS: 20,
                LOGS: 1,
            },
        )
    ),
    (
        quest_key: "build-bundling-station",
        condition: (
            buildings: {
                BUNDLING_STATION: 1,
            }
        ),
        reward: (
        )
    ),
    (
        quest_key: "use-bundling-station",
        condition: (
            workers: {
                GATHER_STICKS: 1,
            }
        ),
        reward: (
            resources: { STICKS: 5 },
        )
    ),
    /* PATH WITH INVITATION PERK */
    (
        quest_key: "socialize",
        karma_condition: 8,
        condition: (),
        reward: (
            resources: { LOGS: 5 },
        )
    ),
    (
        quest_key: "socialize-more",
        karma_condition: 18,
        condition: (),
        reward: (
            resources: { STICKS: 5, FEATHERS: 5, },
        )
    ),
    /* PATH WITH NEST PERK */
    (
        quest_key: "build-nest",
        condition: (
            buildings: { SINGLE_NEST: 1 }
        ),
        reward: (
            resources: { STICKS: 10, FEATHERS: 5 },
        )
    ),
    (
        quest_key: "grow-population",
        pop_condition: 5,
        condition: (),
        reward: (
            resources: { LOGS: 5 },
        )
    ),
]