#![enable(implicit_some)]
[
    /* LINEAR STARTER QUESTS */
    (
        quest_key: "hello-world",
        condition: (
            karma: 1,
        ),
        reward: (
            resources: {
            },
        )
    ),
    (
        quest_key: "create-forest",
        condition: (
            buildings: {
                Tree: 3,
            }
        ),
        reward: (
            resources: {
                Feathers: 20,
            },
        )
    ),
    (
        quest_key: "build-bundling-station",
        condition: (
            buildings: {
                BundlingStation: 1,
            }
        ),
        reward: (
        )
    ),
    (
        quest_key: "use-bundling-station",
        condition: (
            workers: {
                GatherSticks: 1,
            }
        ),
        reward: (
            resources: { Sticks: 5 },
        )
    ),
    /* PATH WITH INVITATION PERK */
    (
        quest_key: "socialize",
        karma_condition: 8,
        condition: (),
        reward: (
            resources: { Logs: 5 },
        )
    ),
    (
        quest_key: "socialize-more",
        karma_condition: 53,
        condition: (),
        reward: (
            resources: { Sticks: 5, Feathers: 5, },
        )
    ),
    /* PATH WITH NEST PERK */
    (
        quest_key: "build-nest",
        condition: (
            buildings: { SingleNest: 1 }
        ),
        reward: (
            resources: { Sticks: 10, Feathers: 5 },
        )
    ),
    (
        quest_key: "grow-population",
        pop_condition: 5,
        condition: (),
        reward: (
            resources: { Logs: 5 },
        )
    ),
]