body,
a {
    font-family: manjari;
    color: white;
}

p {
    margin: unset;
}

#game-root {
    position: relative;
    font-size: 24px;
    color: black;
}

#game-root {
    max-width: 100%;
    max-height: 100%;
}

#game-root canvas {
    max-width: 100%;
    max-height: 100%;
}

.res {
    display: flex;
}

.res img {
    height: 1em;
    padding: 0 0.5em;
}

.button {
    display: inline-block;
    border: 1px solid rgb(122, 122, 122);
    cursor: pointer;
    padding: 0.3em;
    text-align: center;
    vertical-align: middle;
    pointer-events: auto;
}

.button:hover {
    color: whitesmoke;
}

div.attack-table {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 10px;
}

div.attack-table>:first-child,
section.letters>:first-child {
    /* span from grid column line 1 to 4 (3 columns) */
    grid-column: 1 / 4;
    text-align: center;
}

section.letters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 10px 10px 10px 10px;
}

div.letter {
    background-color: whitesmoke;
    padding: 4vh;
    margin: 10px;
    border-radius: 33px;
}

div.letter div.sender {
    height: 75px;
    width: auto;
    text-align: center;
}

div.letter .sender img {
    height: 100%;
    width: auto;
}

div.letter .button {
    background-color: #000fa1;
    color: #4099e5;
}

section.leaderboard {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    padding: 20px;
}

div.pdl-res-comp {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

div.pdl-res-comp-el {
    display: grid;
    grid-template-columns: min-content max-content;
    gap: 5px;
    align-items: center;
}

div.pdl-res-comp img {
    max-width: 33%;
    max-height: 80%;
}

div.dialogue {
    display: flex;
    font-size: 150%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

section.quests {
    padding: 20px;
    padding-right: 60px;
    text-align: center;
}

div.quest {
    background-color: whitesmoke;
    padding: 4vh;
    margin: 10px;
    border-radius: 33px;
    text-align: center;
}

div.quest h3 {
    margin: 0;
}

div.quest .condition {
    display: grid;
    grid-template-columns: max-content max-content;
    font-size: 42px;
    justify-content: center;
    align-items: center;
    grid-template-rows: 80px;
    gap: 20px;
    border-width: 5px;
    border-style: dotted;
    margin-top: -5px;
}

div.quest .condition-in-progress {
    border-color: black;
}

div.quest .condition-met {
    border-color: white;
    background-color: #0fa100;
}

div.quest .conditions img {
    height: 60px;
}

div.quest .rewards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

div.quest .title {
    font-weight: 600;
}

div.quest .reward {
    padding: 5px;
    margin: 5px 15px;
    background-color: #99e540;
    width: max-content;
    border-radius: 10px;
}

div.quest .button {
    background-color: #0c7f00;
    color: #99e540;
    padding: 0.6em;
}


/* MID */

@media screen and (max-width: 1439px) {
    #game-root {
        font-size: 20px;
    }
}


/* LOW */

@media screen and (max-width: 959px) {
    #game-root {
        font-size: 13px;
    }
}