body {
    font-family: manjari;
    color: white;
}
#game-root {
    position: relative;
}
div.attack-table {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 10px;
}
div.attack-table >:first-child {
    grid-column: 1 / 4; /* span from grid column line 1 to 4 (3 columns) */
}
section.leaderboard {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    padding: 20px;
}