#![enable(implicit_some)]
(slides: [
    Slide (
        text_key: "templebuilt-A0",
        buttons: [],
        sprite: Simple(RogerLarge),
        back_button: false,
        next_button: true,
    ),
    Slide (
        text_key: "templebuilt-A5",
        text_style: SystemMessage,
        buttons: [],
        sprite: Simple(Temple),
        back_button: true,
        next_button: true,
    ),
    Slide (
        text_key: "templebuilt-A10",
        button_layout: SingleColumn,
        buttons: [
            SlideButton (
                text_key: "templebuilt-B20",
                action: SlideButtonAction(
                    next_view: Slide(3),
                    actions: [],
                )
            ),
            SlideButton (
                text_key: "templebuilt-B21",
                action: SlideButtonAction(
                    next_view: Slide(3),
                    actions: [],
                )
            ),
            SlideButton (
                text_key: "templebuilt-B22",
                action: SlideButtonAction(
                    actions: [
                        ClearSelectedUnit,
                    ],
                    next_view: UiView(Town),
                )
            ),
        ],
        sprite: Simple(RogerLarge),
        back_button: true,
        next_button: false,
    ),
    Slide (
        text_key: "templebuilt-H20",
        text_style: SystemMessage,
        buttons: [
            SlideButton (
                text_key: "button-back-to-town",
                action: SlideButtonAction(
                    actions: [
                        StoryProgress(BUILDING_WATERGATE, None),
                        ClearSelectedUnit,
                    ],
                    next_view: UiView(Town),
                )
            ),
        ],
        sprite: Simple(Stone2),
        back_button: true,
        next_button: false,
    ),
])