#![enable(implicit_some)]
(slides: [
    Slide(
        text_key: "...",
        buttons: [],
        sprite: Simple(RogerLargeSad),
        back_button: false,
        next_button: true,
    ),
    Slide(
        text_key: "bored-and-anxious",
        buttons: [],
        sprite: Simple(RogerLargeSad),
        back_button: true,
        next_button: true,
    ),
    Slide(
        text_key: "what-to-do-in-life",
        button_layout: SingleColumn,
        buttons: [
            SlideButton (
                text_key: "make-friends",
                action: SlideButtonAction(
                    next_view: Slide(3),
                    actions: [],
                )
            ),
            SlideButton (
                text_key: "help-others",
                action: SlideButtonAction(
                    next_view: Slide(4),
                    actions: [],
                )
            ),
            SlideButton (
                text_key: "build-something",
                action: SlideButtonAction(
                    next_view: Slide(5),
                    actions: [],
                )
            ),
        ],
        sprite: Simple(RogerLargeSad),
        back_button: true,
        next_button: false,
    ),
    Slide(
        text_key: "make-friends-description",
        text_style: PlayerSpeech,
        buttons: [
            SlideButton(
                text_key: "NIY",
                action: SlideButtonAction(
                    next_view: Slide(3),
                    actions: [],
                    // actions: [StoryProgress(SOLVING_PRIMARY_CIV_QUEST_PART_A, 0)],
                )
            ),
        ],
        sprite: Simple(RogerLargeObedient),
        back_button: true,
        next_button: false,
    ),
    Slide(
        text_key: "help-others-description",
        text_style: PlayerSpeech,
        buttons: [
            SlideButton (
                text_key: "confirm",
                action: SlideButtonAction(
                    next_view: Slide(7),
                    actions: [StoryProgress(SOLVING_PRIMARY_CIV_QUEST_PART_A, 1)],
                )
            ),
        ],
        sprite: Simple(RogerLargeObedient),
        back_button: true,
        next_button: false,
    ),
    Slide(
        text_key: "build-something-description",
        text_style: PlayerSpeech,
        buttons: [
            SlideButton (
                text_key: "confirm",
                action: SlideButtonAction(
                    next_view: Slide(6),
                    actions: [StoryProgress(SOLVING_PRIMARY_CIV_QUEST_PART_A, 2)],
                )
            ),
        ],
        sprite: Simple(RogerLargeObedient),
        back_button: true,
        next_button: false,
    ),
    Slide(
        text_key: "expl-nest",
        text_style: PlayerSpeech,
        buttons: [
            SlideButton (
                text_key: "confirm",
                action: SlideButtonAction(
                    next_view: Slide(7),
                    actions: [],
                )
            ),
        ],
        sprite: Simple(SingleNest),
        back_button: false,
        next_button: false,
    ),
    Slide(
        text_key: "look-for-quest",
        text_style: PlayerSpeech,
        buttons: [
            SlideButton (
                text_key: "button-back-to-town",
                action: SlideButtonAction(
                    next_view: UiView(Town),
                    actions: [],
                )
            ),
        ],
        sprite: Simple(RogerLarge),
        back_button: false,
        next_button: false,
    )
])