#![enable(implicit_some)]
(slides: [
    Slide(
        text_key: "balance-important",
        text_style: PlayerSpeech,
        buttons: [],
        sprite: Simple(Karma),
        back_button: false,
        next_button: true,
    ),
    Slide(
        text_key: "town-balance-visitor-0",
        text_style: PlayerSpeech,
        buttons: [],
        sprite: Simple(Tree),
        back_button: true,
        next_button: true,
    ),
    Slide(
        text_key: "town-balance-visitor-1",
        text_style: PlayerSpeech,
        sprite: Simple(DuckHappy),
        back_button: true,
        next_button: false,
        buttons: [
            SlideButton (
                text_key: "confirm",
                action: SlideButtonAction(
                    next_view: UiView(Town),
                    actions: [
                        StoryProgress(SOLVING_SECONDARY_QUEST_B, None)
                    ],
                )
            ),
        ],
    ),
])