#![enable(implicit_some)]
(slides: [
    Slide(
        text_key: "expl-invitation-0",
        buttons: [],
        sprite: Simple(DuckHappy),
        back_button: false,
        next_button: true,
    ),
    Slide(
        text_key: "expl-invitation-1",
        buttons: [],
        sprite: Simple(PerkInvitation),
        back_button: true,
        next_button: true,
    ),
    Slide(
        text_key: "expl-invitation-2",
        buttons: [],
        sprite: Simple(MapButton),
        back_button: true,
        next_button: true,
    ),
    Slide(
        text_key: "expl-invitation-3",
        sprite: Simple(SittingYellowDuck),
        back_button: true,
        next_button: false,
        buttons: [
            SlideButton (
                text_key: "confirm",
                action: SlideButtonAction(
                    next_view: UiView(Town),
                    actions: [
                        // TODO: This next state is not true for all paths. Can I not remove this redudant defintion of next state?
                        StoryProgress(ALL_DONE, None)
                    ],
                )
            ),
        ],
    ),
])